.container {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 200vh;
  width: 100vw;
  padding-top: 50px;
  background-color: rgb(242, 247, 255);
  color: white;
}
.graph {
  width: 600px;
  height: 400px;
  background-color: white;
  border-radius: 20px;
  margin: 50px;
  border: 3px solid rgb(63, 63, 173);
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 255, 0.1);
}
.graph_group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.big_logo {
  height: 400px !important;
  width: 400px !important;
}
.summary_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
}
.upcoming {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 15px;
  margin-top: 100px;
  width: 90vw;
  background-color: rgba(253, 190, 52, 0.1);
  table {
    border-collapse: collapse;
  }
  th {
    color: rgb(11, 64, 156);
    font-weight: 700;
    border: 1px solid #dddddd;
    font-size: 24px;
    text-align: center;
    padding: 0 8vw;
  }
  td {
    color: rgb(11, 64, 156);
    border: 1px solid #dddddd;
    font-size: 24px;
    text-align: center;
    padding: 0 8vw;
  }

  .events_heading {
    align-self: start;
    font-size: 36px;
    font-weight: 900;
    color: rgb(11, 64, 156);
  }
}
