.container {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 200vh;
  width: 100vw;
  padding-top: 100px;
  background-color: rgb(242, 247, 255);
}
.upcoming {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 15px;
  margin-top: 100px;
  width: 85vw;
  background-color: rgba(253, 190, 52, 0.1);
  table {
    border-collapse: collapse;
  }
  th {
    color: rgb(11, 64, 156);
    font-weight: 700;
    border: 1px solid #dddddd;
    font-size: 20px;
    text-align: center;
    padding: 0 3vw;
  }
  td {
    color: rgb(11, 64, 156);
    border: 1px solid #dddddd;
    font-size: 16px;
    text-align: center;
    padding: 0 2vw;
  }

  .events_heading {
    align-self: start;
    font-size: 30px;
    font-weight: 900;
    color: rgb(11, 64, 156);
  }
}
.bulletin {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-evenly;
}
.searchbar {
  display: flex;
  flex-direction: row;
  width: 30vw;
  border: 1px solid rgb(11, 64, 156);
  border-radius: 8px;
  padding: 5px 8px;
  align-content: baseline;
  justify-content: space-between;
  .searchbutton {
    font-size: 20px;
    color: rgb(11, 64, 156);
    font-weight: 500;
    border: 1px solid rgb(11, 64, 156);
    border-radius: 8px;
    &:hover {
      border: 1px solid rgba(253, 190, 52, 0.1);
    }
  }
  .searcharea {
    border: none;
    &:focus {
      border-color: transparent;
      outline: none;
    }
  }
}
.trash {
  font-size: 15px;
  color: rgb(11, 64, 156);
  &:hover {
    color: red;
  }
}
.trash_button {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  &:hover {
    color: rgba(253, 190, 52, 1);
  }
}
